.app {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s;
  padding: 20px;
  background-color: #f8f9fc;
  min-height: 100vh;
}

.content {
  padding: 20px;
  background-color: #f8f9fc;
  flex-grow: 1;
  overflow-y: auto;
}

h1,
h2 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #5a5c69;
}

p {
  color: #858796;
  font-size: 1rem;
}
